<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507256928706-e6m4hol5fl3jmg4b3ond2qa27koldir4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507256928706-e6m4hol5fl3jmg4b3ond2qa27koldir4</string>
	<key>API_KEY</key>
	<string>AIzaSyCduQpCHQ7oiYin-el3yUzQAcrN9IoU-nA</string>
	<key>GCM_SENDER_ID</key>
	<string>507256928706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dartstarter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dartstarter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>dartstarter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507256928706:ios:7d06a2b2dfe5b3c6bfbe5b</string>
</dict>
</plist>